* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: AppleSDGothicNeo-Regular, sans-serif;
}

h1 {
  font-size: 3em;
  transition: all 0.5s ease-in-out;
  margin: 24px 0;
}

h2 {
  margin: 12px 0;
  font-size: 2em
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-flex.flex-column {
  flex-direction: column;
}

.d-flex.align-items-center {
  align-items: center;
}

.container {
  width: 100%;
  padding: 1rem;
}

.mt-40 {
  margin-top: 40px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.text-bold {
  font-weight: bold;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
